
/*HEADER*/

header{
background-color: #C0C0C0;
color: #000000;
font-size: 22px;
font-family: verdana;
font-weight: bold;
text-align: center;
padding: 2px 2px 2px 2px;
}

/*BODY*/

body{
background-color: #808080;
color: #FFFFFF;
font-family: verdana;
text-align: center;
margin-left: 2px; margin-right: 2px;
padding: 2px 2px 2px 2px;
}

.button {
  transition-duration: 0.5s;
  background-color: #808080;
  color: #FFFFFF;
}

.button:hover {
  background-color: #FFFFFF;
  color: #808080;
}

/*MIJN CV*/

#cel01 { background-color: #FFFFFF; color: #000000; width: 200px; text-align: center; }
#cel02 { background-color: #FFFFFF; color: #000000; width: 500px; text-align: left; }
#cel03 { background-color: #FFFFFF; color: #000000; width: 200px; text-align: center; }
#cel04 { background-color: #FFFFFF; color: #000000; width: 500px; text-align: left; }

td{
  vertical-align: top;
}

tr{
  height: 20px;
  text-align: left;
}

table{
  margin-left: auto;
  margin-right: auto;
  padding: 2px 2px 2px 2px;;
}


/*Contact*/

.button2 {
  transition-duration: 0.5s;
  background-color: #C0C0C0;
  color: #808080;
}

.button2:hover {
  background-color: #808080;
  color: #FFFFFF;
}

.button2:active{
  background-color: #808080;
  color: #FFFFFF;
}

.button2:focus{
  background-color: #808080;
  color: #FFFFFF;
}

.input {
  font-family: verdana;
  background-color: #C0C0C0;
  color: #000000;
  border: 2px solid #FFFFFF;

}

::placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}


/*FOOTER*/
footer{
  background-color: #C0C0C0;
  color: #000000;
  font-size: 14px;
  font-family: verdana;
  font-weight: bold;
  text-align: center;
  padding: 2px 2px 2px 2px;
}

.footertekst a:link {
  color: white;
}

.footertekst a:visited {
  color: white;
}

.footertekst a:hover {
  color: white;
}

.footertekst a:active {
  color: white;
}
